.common-table-container {
  height: calc(100vh - 250px);

  .logo-wrapper {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    object-fit: cover;
  }

  .ag-root-wrapper {
    border: none;
    border-top: 1px solid $colorCCCCCC;
  }

  .ag-cell {
    display: flex;
    align-items: center;
  }

  .table-links {
    text-decoration: none;
  }
}

.table-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
